/* ==UserStyle==
@name           2012 Epic Panda to June 30th Experimental Layout
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    Based on a June 30th experiment archive.
@author         broran
@preprocessor   less
@var    checkbox    hideButtons    "Hide the buttons not used in the archive?"  0
==/UserStyle== */

@-moz-document domain("youtube.com") {}

[cosmic-buttons][exp-epic-watch7] #watch7-user-header .yt-user-name {
    background: none !important;
    border: none !important;
    position: relative;
    left: 15px;
    bottom: 21px;
    font-size: 13px;
}

[cosmic-buttons][exp-epic-watch7] #watch7-user-header .yt-user-name:hover {
    box-shadow: none !important;
    background: none !important;
}

#watch7-subscription-container {
    position: absolute;
    left: 72px;
    bottom: 14px;
}

[exp-epic-watch7] .yt-user-photo img {
    width: 46px !important;
    height: 46px !important;
}

[exp-epic-watch7] .yt-user-photo .yt-thumb {
    width: 46px !important;
    height: 46px !important;
}

[exp-epic-watch7] .yt-user-photo {
    position: absolute;
    bottom: 15px;
    left: 10px;
    width: 46px !important;
    height: 46px !important;
}

[exp-epic-watch7] #watch7-action-panels {
    background: #fbfbfb;
    border-bottom: 1px solid #e7e7e7;
}

[exp-epic-watch7] #watch7-headline {
    padding-bottom: 17px;
}

[cosmic-buttons][exp-epic-watch7] .watch .yt-uix-button-subscribe-branded {
    height: 23px !important;
    width: 104px !important;
    text-shadow: 0 1px 0 #fff;
    border-color: #ccc #ccc #aaa;
    background-color: #e0e0e0;
    -webkit-box-shadow: inset 0 0 1px #fff;
    box-shadow: inset 0 0 1px #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fafafa), color-stop(100%, #dcdcdc));
    background-image: -webkit-linear-gradient(top, #fafafa 0, #dcdcdc 100%);
    background-image: linear-gradient(to bottom, #fafafa 0, #dcdcdc 100%);
}

[cosmic-buttons][exp-epic-watch7] .watch .yt-uix-button-subscribed-branded {
    height: 23px !important;
    width: 104px !important;
    text-shadow: 0 1px 0 #fff;
    border-color: #ccc #ccc #aaa;
    background-color: #e0e0e0;
    -webkit-box-shadow: inset 0 0 1px #fff;
    box-shadow: inset 0 0 1px #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fafafa), color-stop(100%, #dcdcdc));
    background-image: -webkit-linear-gradient(top, #fafafa 0, #dcdcdc 100%);
    background-image: linear-gradient(to bottom, #fafafa 0, #dcdcdc 100%);
}

[exp-epic-watch7] #watch7-main #watch7-content {
    box-shadow: none;
    margin-left: -0px;
}

.action-panel-loading, .action-panel-error {
    font-size: 15px;
    color: #666;
    text-shadow: 0 0 6px #aaa;
    font-family: monospace;
}

[exp-epic-watch7] .watch .yt-uix-button-subscribe-branded .yt-uix-button-icon-subscribe {
    background: no-repeat url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAIGNIUk0AAHomAACAhAAA+gAAAIDoAAB1MAAA6mAAADqYAAAXcJy6UTwAAADJUExURQAAAMgSC8gSC8gSC8gSC8gSC8gSC8QRC8ARCrsRCrUQCqQPCZ4OCZkOCZUOCJENCJENCJENCJENCJENCJENCMgSC8QRC8ARCsEXEOelo8kzLbsRCr4fGPn5+ffv79FjX7UQCrUdGPHx8fLy8tudm7cYEq8QCq8dF+fn5+jo6NOamKoPCakbFt3d3cy/v44wLaQPCaMbFdXV1ayNjG8UEJgOCJ4OCZ0XE8vIyIhTUXQKB5sOCZkOCZYOCVwIBYEMCJUOCJENCP///09F9owAAAAVdFJOUwAJpcz50qKHzOr8/OrMhwmizNiEBmJNK6EAAAABYktHREIQ1z30AAAAB3RJTUUH6QwJBSsayL6EmQAAAIhJREFUGNOFz8cCwUAARdFHkB5GC4IQbZRRgmjR/v+nTLHJKmd1txfIVShqpdZfWasAejtDh+FznW7PVwyYAdcfDMNAMmGNuHEUTaYzURbmwoJSulzJxFrYMMa2O5mw99whjo+nsygbTsJdrrf7Q0TiwE255+udKi68T4aHao2Qr1InpNHMn/0BX+cbS7B4/bkAAAAldEVYdGRhdGU6Y3JlYXRlADIwMjUtMTItMDlUMDU6NDM6MjYrMDA6MDDsieuOAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDI1LTEyLTA5VDA1OjQzOjI2KzAwOjAwndRTMgAAACh0RVh0ZGF0ZTp0aW1lc3RhbXAAMjAyNS0xMi0wOVQwNTo0MzoyNiswMDowMMrBcu0AAAAASUVORK5CYII=) 0 0;
    width: 16px;
    height: 16px;
}

[classic-sub][exp-epic-watch7] #watch7-subscription-container .yt-uix-button-subscribe-branded .yt-uix-button-icon-wrapper {
    margin-right: 2px !important;
}

[classic-sub][exp-epic-watch7] #watch7-subscription-container .yt-uix-button-subscribed-branded .yt-uix-button-icon-wrapper {
    margin-right: 2px !important;
}

[exp-epic-watch7] .watch .yt-uix-button-subscribed-branded .yt-uix-button-icon-subscribe {
    background: no-repeat url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAIGNIUk0AAHomAACAhAAA+gAAAIDoAAB1MAAA6mAAADqYAAAXcJy6UTwAAADJUExURQAAAMgSC8gSC8gSC8gSC8gSC8gSC8QRC8ARCrsRCrUQCqQPCZ4OCZkOCZUOCJENCJENCJENCJENCJENCJENCMgSC8QRC8ARCsEXEOelo8kzLbsRCr4fGPn5+ffv79FjX7UQCrUdGPHx8fLy8tudm7cYEq8QCq8dF+fn5+jo6NOamKoPCakbFt3d3cy/v44wLaQPCaMbFdXV1ayNjG8UEJgOCJ4OCZ0XE8vIyIhTUXQKB5sOCZkOCZYOCVwIBYEMCJUOCJENCP///09F9owAAAAVdFJOUwAJpcz50qKHzOr8/OrMhwmizNiEBmJNK6EAAAABYktHREIQ1z30AAAAB3RJTUUH6QwJBSsayL6EmQAAAIhJREFUGNOFz8cCwUAARdFHkB5GC4IQbZRRgmjR/v+nTLHJKmd1txfIVShqpdZfWasAejtDh+FznW7PVwyYAdcfDMNAMmGNuHEUTaYzURbmwoJSulzJxFrYMMa2O5mw99whjo+nsygbTsJdrrf7Q0TiwE255+udKi68T4aHao2Qr1InpNHMn/0BX+cbS7B4/bkAAAAldEVYdGRhdGU6Y3JlYXRlADIwMjUtMTItMDlUMDU6NDM6MjYrMDA6MDDsieuOAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDI1LTEyLTA5VDA1OjQzOjI2KzAwOjAwndRTMgAAACh0RVh0ZGF0ZTp0aW1lc3RhbXAAMjAyNS0xMi0wOVQwNTo0MzoyNiswMDowMMrBcu0AAAAASUVORK5CYII=) 0 0;
    width: 16px;
    height: 16px;
}

[exp-epic-watch7] .watch .yt-uix-button-subscribed-branded:hover .yt-uix-button-icon-subscribe {
    background: no-repeat url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAIGNIUk0AAHomAACAhAAA+gAAAIDoAAB1MAAA6mAAADqYAAAXcJy6UTwAAADJUExURQAAAMgSC8gSC8gSC8gSC8gSC8gSC8QRC8ARCrsRCrUQCqQPCZ4OCZkOCZUOCJENCJENCJENCJENCJENCJENCMgSC8QRC8ARCsEXEOelo8kzLbsRCr4fGPn5+ffv79FjX7UQCrUdGPHx8fLy8tudm7cYEq8QCq8dF+fn5+jo6NOamKoPCakbFt3d3cy/v44wLaQPCaMbFdXV1ayNjG8UEJgOCJ4OCZ0XE8vIyIhTUXQKB5sOCZkOCZYOCVwIBYEMCJUOCJENCP///09F9owAAAAVdFJOUwAJpcz50qKHzOr8/OrMhwmizNiEBmJNK6EAAAABYktHREIQ1z30AAAAB3RJTUUH6QwJBSsayL6EmQAAAIhJREFUGNOFz8cCwUAARdFHkB5GC4IQbZRRgmjR/v+nTLHJKmd1txfIVShqpdZfWasAejtDh+FznW7PVwyYAdcfDMNAMmGNuHEUTaYzURbmwoJSulzJxFrYMMa2O5mw99whjo+nsygbTsJdrrf7Q0TiwE255+udKi68T4aHao2Qr1InpNHMn/0BX+cbS7B4/bkAAAAldEVYdGRhdGU6Y3JlYXRlADIwMjUtMTItMDlUMDU6NDM6MjYrMDA6MDDsieuOAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDI1LTEyLTA5VDA1OjQzOjI2KzAwOjAwndRTMgAAACh0RVh0ZGF0ZTp0aW1lc3RhbXAAMjAyNS0xMi0wOVQwNTo0MzoyNiswMDowMMrBcu0AAAAASUVORK5CYII=) 0 0;
    width: 16px;
    height: 16px;
}

.yt-uix-button-subscribed-branded.hover-enabled:hover .unsubscribe-label {
    margin-left: -4px;
}

[exp-epic-watch7] #watch7-secondary-actions button:nth-of-type(1)::before, [exp-epic-watch7] #watch7-secondary-actions button:nth-of-type(2)::before, [exp-epic-watch7] #watch7-secondary-actions button:nth-of-type(3)::before {
    content: none;
    background: none;
    width: 0px;
    height: 0px;
    display: block;
    margin-right: 0px;
}

#watch7-secondary-actions .yt-uix-button {
    height: 25px;
    margin-left: 15px;
    color: #333;
    border: 3px solid transparent;
    border-width: 3px 0;
    background: none;
    opacity: .5;
    filter: alpha(opacity=50);
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

[exp-more-tooltips] #watch7-secondary-actions .yt-uix-button.yt-uix-button-toggled {
    border: 1px solid #ddd !important;
    background: #eee;
}

.yt-uix-button .yt-uix-button-icon-action-panel-transcript {
    & when (@hideButtons = 1) {
        display: none !important;
        height: 0px !important;
        width: 0px !important;
        margin: none !important;
        padding: none !important;
    }
}

.yt-uix-button .yt-uix-button-icon-action-panel-stats {
    & when (@hideButtons = 1) {
        display: none !important;
    }
}

[exp-epic-watch7] #watch-uploader-info::before {
    display: none !important;
}

[exp-epic-watch7] #watch-uploader-info {
    margin-top: 0px;
}

[exp-epic-watch7] #watch-uploader-info span {
    font-size: 12px;
}

#watch-description {
    font-size: 12px;
    line-height: 12px;
}

#watch7-sentiment-actions {
    margin-top: 0 !important;
}

[exp-epic-watch7] #watch-description-toggle .yt-uix-button-text {
    background: #fff;
}

[exp-epic-watch7] #watch-description-toggle:hover .yt-uix-button-text {
    color: #444;
}

[exp-epic-watch7] .yt-uix-button-panel:hover #watch-description-toggle > div button {
    box-shadow: 0 0 3px #ccc;
}

[exp-epic-watch7] .yt-uix-button-panel:hover #watch-description-toggle:hover > div button {
    box-shadow: 0 0 3px #999;
    border-color: #aaa !important;
}

[exp-epic-watch7][exp-legacy-comments] #watch-discussion {
    background: #fbfbfb !important;
}

.distiller_yt_instance {
    background: #fbfbfb !important;
}

#watch7-headline {
    background: #fbfbfb !important;
}

[exp-epic-watch7] #watch7-user-header {
    background: #fbfbfb !important;
    padding: 0 19px 19px 19px;
}

[exp-epic-watch7] #watch7-action-buttons {
    background: #fbfbfb !important;
    border-bottom: none !important;
}
    
html {
    --material-background: #fbfbfb !important;
}

#watch7-sidebar .video-list-item .title:hover {
    text-decoration: underline;

}

.video-list-item:hover {
    background: #fff;
}
