/* ==UserStyle==
@name           2012 Mid Refresh Icons StarTube
@namespace      yea
@version        1.0.0
@description    A new userstyle
@author         broran
==/UserStyle== */

@-moz-document domain("youtube.com") {}

/* This Userstyle changes the default StarTube 2012 icons to the icons found in a few Mid-2012 experimental "Refresh" design archives, such as: https://web.archive.org/web/20120626044112/https://www.youtube.com/watch?v=79fzeNUqQbQ */

[wl^="w5"]:not([wl="w5c"]):not([layout^="aozora"]):not([layout^="stargazer"]) #watch-dislike .yt-uix-button-icon-watch-dislike {
    background: no-repeat url(//s.ytimg.com/yt/imgbin/www-watchrefresh-vflRhmaGr.png) 0 -14px;
    width: 16px;
    height: 16px;
}

[wl^="w5"]:not([wl="w5c"]):not([layout^="aozora"]):not([layout^="stargazer"]) button#watch-dislike:hover .yt-uix-button-icon-watch-dislike, [wl^="w5"]:not([wl="w5c"]):not([layout^="aozora"]):not([layout^="stargazer"]) #watch-dislike.yt-uix-button-toggled .yt-uix-button-icon-watch-dislike {
    background: no-repeat url(//s.ytimg.com/yt/imgbin/www-watchrefresh-vflRhmaGr.png) 0 -14px;
}

[wl^="w5"]:not([wl="w5c"]):not([layout^="aozora"]):not([layout^="stargazer"]) #watch-like .yt-uix-button-icon-watch-like {
    background: no-repeat url(//s.ytimg.com/yt/imgbin/www-watchrefresh-vflRhmaGr.png) 0 -80px;
    width: 16px;
    height: 16px;
}

[wl^="w5"]:not([wl="w5c"]):not([layout^="aozora"]):not([layout^="stargazer"]) button#watch-like:hover .yt-uix-button-icon-watch-like, [wl^="w5"]:not([wl="w5c"]):not([layout^="aozora"]):not([layout^="stargazer"]) button#watch-like:active .yt-uix-button-icon-watch-like, [wl^="w5"]:not([wl="w5c"]):not([layout^="aozora"]):not([layout^="stargazer"]) #watch-like.yt-uix-button-toggled .yt-uix-button-icon-watch-like {
    background: no-repeat url(//s.ytimg.com/yt/imgbin/www-watchrefresh-vflRhmaGr.png) 0 -178px;
}

#st-stats-button .st-btn-icon {
    background: no-repeat url(//s.ytimg.com/yt/imgbin/www-watchrefresh-vflRhmaGr.png);
    width: 16px !important;
    height: 16px !important;
    background-position: 0 -196px !important;
}

#st-report-button .st-btn-icon {
    background: no-repeat url(//s.ytimg.com/yt/imgbin/www-watchrefresh-vflRhmaGr.png);
    width: 16px !important;
    height: 16px !important;
    background-position: 0 -62px;
}

[exp-legacy-comments] img.comments-rating-thumbs-up {
    width: 12px;
    height: 12px;
    background: no-repeat url(//s.ytimg.com/yt/imgbin/www-watchrefresh-vflRhmaGr.png) 0 0;
}

[exp-legacy-comments] .distiller_yt-thread .sentiment .oz-distiller-yt-like {
    background: url(//s.ytimg.com/yt/imgbin/www-watchrefresh-vflRhmaGr.png) 0 -151px !important;
    width: 12px;
    height: 12px;
    opacity: 1 !important;
    margin: 2px 3px 0 6px;
}

[exp-legacy-comments] .distiller_yt-thread .sentiment .oz-distiller-yt-dislike {
    background: url(//s.ytimg.com/yt/imgbin/www-watchrefresh-vflRhmaGr.png) 0 -32px !important;
    width: 12px;
    height: 12px;
    opacity: 1 !important;
    margin: 2px 3px 0 6px;
}
